<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Updated Successfully</title>
  </head>

  <body style="font-family: Arial, sans-serif">
    <h2>Hello <%= receiverName %>,</h2>
    <p><%= senderName %> has shared a note with you.</p>

    <p>You’ve been granted <strong><%= permission %></strong> access.</p>

    <a href="<%= link %>" style="color: #4f46e5">View Note</a>

    <p>Notes Team</p>
  </body>
</html>
